.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 15vh;
    width: 100%;
    margin-bottom: 5px;
    background: var( --blue)
}

.Card .hidden {
    display: none;
    visibility: hidden;
}

.Card .card-value {
    font-size: 3em;
    color: var(--gold);
    text-shadow: 4px 4px black;
    margin: 0;
    padding: 0;
}

.Card .card-question {
    text-transform: uppercase;
    color: white;
    font-size: 0.6em;
    padding: 2% 5%;
}

.card-back,
.card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}